body{

margin: 0;
padding: 0;
font-family: 'Noto Sans JP', sans-serif;
text-align: center;
}

input[type="text"], input[type="password"]{

    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    margin: 20px auto;
}

input[type="submit"] {

    padding: 10px;
    color: beige;
    background: blue;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"] {

    background-color: rgb(4, 18, 43);
}

header{

    border-bottom: 4px solid rgb(168, 29, 29);
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

header a{ 

    text-decoration: none;
    color: darkgreen;

}